In [1]:
#organizing the list datatype

In [2]:
cars=['maruti','honda','audi','toyota','bmw','suzuki','benz']
print(cars)

['maruti', 'honda', 'audi', 'toyota', 'bmw', 'suzuki', 'benz']

In [3]:
type(cars)

list

In [4]:
#req:I want to organise the above list in alphabetical order... A-Z

In [5]:
#two approaches

In [7]:
#Temporary approach -SORTED

In [8]:
print(sorted(cars))

['audi', 'benz', 'bmw', 'honda', 'maruti', 'suzuki', 'toyota']

In [9]:
print(cars)         #original order

['maruti', 'honda', 'audi', 'toyota', 'bmw', 'suzuki', 'benz']

In [10]:
#Permanent approach - SORT

In [11]:
cars.sort()
print(cars)

['audi', 'benz', 'bmw', 'honda', 'maruti', 'suzuki', 'toyota']

In [12]:
print(cars)

['audi', 'benz', 'bmw', 'honda', 'maruti', 'suzuki', 'toyota']

In [13]:
#req: to know the number of elements present in list:-

In [14]:
len(cars

7

In [15]:
print(cars)

['audi', 'benz', 'bmw', 'honda', 'maruti', 'suzuki', 'toyota']

In [16]:
#req: print the list in reverse order

In [18]:
cars.reverse()
print(cars)

['audi', 'benz', 'bmw', 'honda', 'maruti', 'suzuki', 'toyota']

In [19]:
#Introduction to slicing of lists:

In [20]:
mystudents= ['keerthana','priyanka','deepak','rahul','kubra','ayesha','imran','naveed','rishika','shivani']
print(mystudents)

['keerthana', 'priyanka', 'deepak', 'rahul', 'kubra', 'ayesha', 'imran', 'naveed', 'rishika', 'shivani']

In [21]:
#general syntax of slicing:-

In [29]:
#variable[startvalue:stopvalue:stepcount]

In [30]:
print(mystudents[0:1])           #didn't get two names because last value always exclusive & we have to increment no. by 1

['keerthana']

In [31]:
print(mystudents[0:2])           # correct because it is incremented no by 1

['keerthana', 'priyanka']

In [32]:
print(mystudents[2:4])

['deepak', 'rahul']

In [33]:
print(mystudents[4:6])

['kubra', 'ayesha']

In [34]:
print(mystudents[6:8])

['imran', 'naveed']

In [35]:
print(mystudents[8:10])

['rishika', 'shivani']

In [36]:
print(mystudents)

['keerthana', 'priyanka', 'deepak', 'rahul', 'kubra', 'ayesha', 'imran', 'naveed', 'rishika', 'shivani']

In [ ]:
variable(startvalue:stopvalue:stepcount)

In [37]:
print(mystudents[0:10:2])

['keerthana', 'deepak', 'kubra', 'imran', 'rishika']