In [3]:
#Continuation with Lists:
#for loop implication:-

In [5]:
#general syntax of a for loop implications
#for tempvar in mainvar
 print(tempvar)

In [6]:
#req: using a range function how to print the series of numbers
#i want to print the numbers from 1 to 20

In [7]:
#note:last value is always exclusive

In [14]:
for value in range(1,20):
  print(value)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [15]:
for x in range (1,20):
    print(x)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [16]:
#using range to make a list of numbers

In [18]:
#req: i want to get a list of numbers from 1-10
numbesr=list(range(1,10))
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [19]:
#req: i want to print numbers till 30,but i want to print only the even numbers till 30

In [21]:
#general syntax of a range function
range(startvalue,stopvalue,stepcount)

In [22]:
even_numbers=list(range(2,30,2))
print(even_numbers)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28]

In [23]:
#req: i want to get odd numbers till 50

In [25]:
odd_numbers=list(range(1,50,2))
print(odd_numbers)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49]

In [27]:
#Simple statistics with list of numbers
digits=[1,2,3,4,5,6,7,8,9,0]

In [28]:
#req:i want to have a minimum value from the above list
min(digits)

0

In [29]:
#req:i want to have a maximum value from the above list
max(digits)

9

In [30]:
#req:i want to get the total sum of the elements in the list
sum(digits)

45

In [31]:
#INTRODUCTION TO CONDITIONAL STATEMENTS IN PYTHON:-

In [32]:
#IF, ELSE condition will be used

In [33]:
cars=['audi','bmw','toyato','volvo']

In [34]:
#req:to print the list of by using the for loop

In [35]:
#req2: i want to print bmw in uppercase and remaining all other cars in title case:

In [43]:
for x in cars:
    
 if x == 'bmw':
    print(x.upper())
 else:
    print(x.title())

Audi
BMW
Toyato
Volvo