In [1]:
#Introduction to TUPLE datatype:-
*overview: an immutable list is called as tuple datatype
*it is classified as an immutable datatype
*()==> is used to define tuple

In [2]:
#note: when we want our data to be fixed then we would go with tuple datatype

In [3]:
students=('vinitha','mujeeb','naveen','rishika','kubra')
print(students)

('vinitha', 'mujeeb', 'naveen', 'rishika', 'kubra')

In [4]:
type(students)

tuple

In [7]:
# i want to modify naveen name to abdul

In [9]:
students[2]='abdul'

TypeError: 'tuple' object does not support item assignment

In [13]:
dimension=(250,50)
print(dimension)

(250, 50)

In [14]:
dimension=(300,50)
print(dimension)

(300, 50)

In [15]:
print(students)

('vinitha', 'mujeeb', 'naveen', 'rishika', 'kubra')

In [19]:
for x in students:
 print(x)

vinitha
mujeeb
naveen
rishika
kubra

In [21]:
print(students[1])

mujeeb

In [25]:
#Introduction to DICTIONARY datatype:-
*overview: a dictionary is a combination of key value pairs
*it is classified as a mutable datatype
*{} ==> is used to define dictonary datatype
*in short term it will be represented as dict
*note: it is a datatype which is used extensively in all real world objects

In [26]:
#creating an alien game:

In [27]:
alien={'color':'green','points':5}
print(alien)

{'color': 'green', 'points': 5}

In [28]:
type(alien)

dict